################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ToastPopUp/v15/Server/sqlite3
*.dtbcache
